@import "base"
@import "~bootstrap/dist/css/bootstrap.min.css"

body
  background: white

a
  cursor: pointer

p
  color: darkred
  font-size: 26px

.main-content
  padding-top: 60px

.done
  text-decoration: line-through

// Search
.search-input
  position: relative

  &__clear
    position: absolute
    right: 16px
    top: 8px
    font-size: 22px
    color: dimgray

.search-input-group
  position: relative

.clear-ico
  position: absolute
  top: 12px
  right: 14px
  font-size: 23px
  color: #cdcdcd